@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}
:root{
    --primary-color:#262956;
    --secondary-color:#a4a4a4;
    --tertiary-color:rgba(149,111,220,0.2);

}
body{
    height:100%;
    background-image:url("images/cloudy.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
   

}
.main_panel{
  
    
}
.main_panel_content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    justify-content:center;

}
.content_left{
    display:flex;
    flex-direction:column;
    flex:75%;
    height:500px;
    padding:30px;
    align-self:flex-start;
    margin:30px;
    background-color:rgba(149,111,220,0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter:blur(5px);
    border-radius:30px;
    border:2px solid rgba(158, 116, 164,0.5);
    color:#28231D;
}
.content_left .display_panel{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:100%;
    margin:auto auto; 
}
.content_left .display_panel .display_panel_content{
    display:flex;
    margin:50px 0; 
    gap:15px;
}
.content_left .display_panel .display_panel_content img{
    width:50px;
    height:50px;
}
.content_left .display_panel .display_panel_content h2{
    
}
.content_left .display_panel .display_panel_content h3{
    font-size:15px;
}

.content_left .location_panel{
    background-color:green;
}

.content_right{
    flex:25%;
    background-color:rgba(149,111,220,0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter:blur(20px);
    height:100vh;
    padding:0;
  
}

.content_right .content_right_content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    width:100%;
    padding:20px;
}

.content_right_content input{
    width:100%;
    position:relative;
    padding:10px 10px 10px 50px;
    font-size:20px;
    outline:none;
    border-radius:30px;
    border:2px solid transparent;
}
.content_right_content input:focus{
    border:2px solid #262956;
    transition:0.6s;
}
.content_right_content #location_icon{
    position:absolute;
    z-index:1;
    vertical-align:middle;
    top:36px;
    left:35px;
    width:25px;
}
.content_right_content button{
    margin:20px 0;
    width:180px;   
    font-size:20px;   
    padding:8px;
    border-radius:30px;
    outline:none;
    border:none;
    background-color:#262956;
    color:#a4a4a4;
    cursor:pointer;
    transition:all 0.3s;
}
.content_right_content button:hover{
    background-color:#FDF5D1;
    color:#8472A3;

    
}
.content_right_content button img{
    vertical-align:middle;
    width:30px;
    margin-right:5px;
}

.location_panel{
    position:absolute;
    top:75%;
    left:50px;
   
    
}
.details{
    margin-top:-10px;
    color:#fff;
}
.location_panel h1{
    font-size:60px;
    color:white;
    font-weight:bold;
}
.details h2{
    font-size:30px;
    
}


